<!--<p [class.active]="activeClass">Good morning and {{title}}</p>
<h2 [style.color] = "colorBlue">Text</h2>
<h2 [style.color] ="condColor? 'orange' : 'green' ">Text 1</h2>
<img [src]="img" [alt]="">
<button type="button" (click)="onClick(demoInput.value)">Click</button>
<input type="text" #demoInput>-->

<!--<button type="button" (mouseover)="onMouseMove($event)"></button>


<input type="text" [(ngModel)]="fname">
<input type="text" [(ngModel)]="lname">
<p>{{fname}} {{lname}}</p>-->

<!--<p *ngIf="show">Show Element ngIf</p>-->


<!--??????-->
<!--<div [ngSwitch]="color">
  <p *ngSwitchWhen="'red'">Color is red</p>
  <p *ngSwitchWhen="'green'">Color is green</p>
  <p *ngSwitchDefault>Inviled color</p>
</div>-->

<!--<ul *ngFor="let color of colors">
  <li>{{color}}</li>
</ul>-->

<!--Два стиля(класса) к одному Э-->
<!--<p [ngClass]="{border:b, background:c}">Two classes with ngClass</p>
<button type="button" (click)="toggle()">Toggle</button>

<p [ngStyle]="{'font-size': size, 'border': border}">With Style</p>

-->
